.button {
	width: 160px;
	padding: 6px 0px;
	border: none;
	background: inherit;
	color: var(--primary-color);
	font-size: var(--font-size-m);
	font-weight: 600;
	cursor: pointer;
}

.active {
	background: var(--inverted-bg-color);
	color: var(--inverted-color);
}