.timerWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timer {
	font-size: 128px;
	font-weight: 500;
	color: var(--primary-color);
}

.buttons {
	display: flex;
	gap: 20px;
}