@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import './themes/dark.scss';
@import './reset.scss';
@import './variables/global.scss';


html, body, #root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	height: 100%;
	display: flex;
	background: var(--bg-color);
	color: var(--primary-color);

	font-family: "Stack Sans Text", sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}